.vscode/settings.json
09 - Extras/Trabalho final comp. II/__pycache__/arquivos.cpython-310.pyc
09 - Extras/Trabalho final comp. II/__pycache__/estatistica.cpython-310.pyc
09 - Extras/Trabalho final comp. II/__pycache__/interface.cpython-310.pyc
09 - Extras/Trabalho final comp. II/__pycache__/mecanica.cpython-310.pyc
10 - Computação científica/Semana 2/.ipynb_checkpoints